body {
	background-color: #e6edff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
a {
	color: #58657e;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}
div#header {
	/* köz szélessége a fejléc alatt */
	margin-bottom: 7px;
}
div#header div#txt1 {
	font-size: 18px;
	font-weight: bold;
}
div#header div#txt2 {
	font-style: italic;
}
div#header div#search {
	float: right;
	vertical-align: middle;
	/* ez tolja egy vonalba a Google feliratot az input aljával */
	margin-top: 7px;
}
div#header div#search p {
	display: inline;
	position: absolute;
	margin-left: -80px;
	/* ez tolja egy vonalba a Google feliratot az input aljával */
	margin-top: 0px;
}

div#columns div#leftcolumn {
	/* hogy a közt fixen lehessen beállítani, abszolút hasábszélességet használunk - ez lehet akármennyi */
	width: 167px;
	float: left;
}
div#columns div#rightcolumn {
	/* hogy a közt fixen lehessen beállítani, abszolút hasábszélességet használunk - ez lehet akármennyi */
	width: 167px;
	float: right;
	position:absolute;
	right:10px;
}
div#columns div#centercolumn {
	/* hogy a közt fixen lehessen beállítani, abszolút hasábszélességet használunk - ez a fenti hasábszélesség + közszélesség */
	margin: 0px 174px;
}

div#footer {
	clear: both;
	border: 1px solid #8296bb;
	text-align: center;
}
div.boxpadding {
	border: 1px solid #8296bb;
	/* köz szélessége az egyes dobozok alatt (és így között) */
	margin-bottom: 7px;
}
div.freespace {
	display: none;
}

div#mainmenu ul {
	margin: 1px 0px;
	padding: 0px;
}
div#mainmenu ul li {
	list-style-position: inside;
	list-style-image: url('images/menuitem.gif');
}
div.boxheader {
	background-color: #8296bb;
	color: #fff;
	text-align: center;
}
div.boxcontent {
	background-color: #fff;
	color: #000;
}
div.imgcontent {
	text-align: center;
	vertical-align: bottom;
	font-size: 16px;
}

