/*
 *      Mobile design responsive
 */

@media screen and (max-width: 700px) {

    html {
        font-size: 8px;
    }

    body {
        padding: 0;
        margin: 0 auto;

        font-size: 0;
    }

    header {
        position: relative;
        top: 0;
        left: 0;
        right: 0;

        padding: 20px 0 10px 0;

        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

        overflow: auto;
    }


    header img {
        max-height: 48px;
    }

    header .title {
        top: -16px;

        font-size: 32px;
    }

    header .slogan {
        position: absolute;
        top: 55px;
        left: 130px;
    }

    nav {
        display: none;
    }

    #rightcolumn, #slideshow {
        display: none;
    }

    /*
     *  Lang area
     */

    #lang {
        right: 8px;
    }

    .about {
        width: 90%;

        margin: 0 auto;

        text-align: justify;

        background-color: transparent;
        border: none;
        box-shadow: 0 0 0 #fff;
    }


    #centercolumn h2 {
        display: inline-block;

        margin-right: 10px;
        margin-bottom: 0;
        padding: 0 8px 5px 4px;
    }

    #wrapper {
        padding: 5px 0 20px 0;
    }

    /* News post */

    #new h3 {
        font-size: 10px;
    }


    /* News list */

    #newsList {
        width: 95%;

        font-size: 10px;
    }

    #newsList td {
        padding: 4px 1px;
    }

    #newsList img {
        width: 16px;
    }

    .pagination {
        display: none;
    }

    .moreandless {
        display: none;
    }

    /* Middle box */
    .middleheader {
        margin: 10px auto 0 auto;
    }

    .middlebox, .emptybox {
        width: 85%;

        margin: 3px auto 10px auto;
    }

    .middlebox ul {
        position: relative;
        left: -20px;
    }

    /* Show author in a box */
    .authorbox {
        margin: 8px 10px;

        border-bottom: 1px solid grey;
    }

    .screenbox h1 {
        font-size: 11px;
    }


    div.screenbox img {
        max-width: 200px;
        max-height: 160px;
    }

    .package td {
        display: inline-block;

        vertical-align: top;
    }

    #pkgsrc {
        width: 50%;
    }

    footer {
        font-size: 8px;
    }
}
