/*

Craftyslide CSS Styles

*/

#slideshow {
    margin: 4px auto;
    padding: 0;
}

#slideshow ul {
    position:relative;
    overflow:hidden;
    margin:0;
    padding:0;
    border: 2px solid white;
    border-radius: 2px;
}

#slideshow ul li {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    list-style:none;
}

#slideshow ul li img {
    cursor: url("../../images/icons/magnify.png"), -moz-zoom-in;
}

#pagination {
    clear:both;
    margin:2px auto;
    padding:0;
}

#pagination li {
    list-style:none;
    display: table-cell;
    table-layout: auto;
    margin:0 2px;
}

#pagination li a {
    display:block;
    width:10px;
    height:10px;
    text-indent:-10000px;
    background-color: black;
    border-radius: 5px;
    margin: 0 2px;
}

#pagination li a.active {
    background-position:0 10px;
    background-color: #6390DD;
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

.caption {
    width:100%;
    margin:0;
    padding:5px;
    position:absolute;
    left:0;
    font-family:Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:lighter;
    color:#fff;
    border-top:1px solid #000;
    background:rgba(0,0,0,0.8);
}
