
html {
    height: 100%;

    margin: 0;
    padding: 0;

    background: #2D2D2D;
}

a {
    color: #204bac;
    background-color: transparent;

    text-decoration: none;
}

img a,
img, a:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

hr {
    height: 1px;
    width: 85%;

    margin-top: 80px;

    border: none;
    background-color: lightgrey;
}


#content {
    max-width: 1024px;
    height: auto;

    padding: 70px 0 10px 0;

    text-align: left; /* Win IE5 */
    font-size: 11px;

    background-color: white;

    border-radius: 6px;
    box-shadow:0 0px 6px black;

    font-family: Oxygen, verdana, sans-serif;
}

#box {
    position: relative;

    left: 0;
    right: 0;
    z-index: 30;

    margin: 0 auto;

    font-size: 13px;
    font-weight: bold;
}

#box form {
    display: block;

    padding-bottom: 20px;
}

#search {
    width: 600px;

    margin: 20px auto 30px auto;

    color: #FFFFFF;
    background: #2D2D2D;

    border: 1px solid black;
    border-right: none;
    border-radius: 5px;

    text-align: center;
}

#box ul img {
    width: 64px;
    height: 64px;

    border: none;
}

#box ul {
    list-style:none;

    text-align: center;
}

#box li {
    display: inline-block;
    width: 100px;

    font-size: 9px;
}

#box .logo {
    position: relative;
    top: 3px;

    width: 16px;
    height: 16px;

    border: none;
}

#box .text {
    width: 540px;
    height: 20px;

    color: #FFFFFF;
    background: transparent;
    font-size: 14px;
    font-family: sans;

    border: none;
}

#box .button {
    width: 50px;
    height: 20px;

    padding: 0;

    color: #FFFFFF;
    background: transparent;
    font-size: 14px;
    font-family: sans;

    border: none;

    cursor: pointer;
}

#box .footer {
    padding: 2px 0;

    text-align: center;

    font-size: 9px;
    color: grey;
}

@media screen and (min-width: 1024px) {

    #content {
        margin: 50px auto;
    }
}

@media screen and (max-width: 640px) {

    #content {
        height: auto;

        padding: 8px 5px;

        text-align: left; /* Win IE5 */
        font-size: 11px;

        background-color: white;

        font-family: Oxygen, verdana, sans-serif;
    }

    #search {
        width: 280px;
    }

    #box .text {
        width: 225px;
    }

    #box .button {
        width: 50px;
    }

    #box ul {
        position: relative;
        left: 0;
        right: 0;
    }

    #box ul li {
        position: relative;
        left: 0;
    }

    #box ul img {
        width: 32px;
        height: 32px;
    }
}
