#php_value session.auto_start 1

<Files *.inc.php>
    deny from all
</Files>

RewriteEngine on
RewriteCond %{REQUEST_URI} ^/news.php
RewriteRule .* http://frugalware.org/news
RewriteCond %{REQUEST_URI} !^/.*\.php
RewriteCond %{REQUEST_URI} !^/images
RewriteCond %{REQUEST_URI} !^/start
RewriteCond %{REQUEST_URI} !^/static
RewriteCond %{REQUEST_URI} !^/dtd
RewriteCond %{REQUEST_URI} !^/xml
RewriteCond %{REQUEST_URI} !^/mailman
RewriteCond %{REQUEST_URI} !^/doc/mailman/images
RewriteCond %{REQUEST_URI} !^/cgiirc
RewriteCond %{REQUEST_URI} !^/irc_images
RewriteCond %{REQUEST_URI} !^/pipermail
RewriteCond %{REQUEST_URI} !^/syncpkgd
RewriteCond %{REQUEST_URI} !^/server-status
RewriteCond %{REQUEST_URI} !^/robots.txt
RewriteRule (.*) /rewrite.php/$1
