@charset "UTF-8";
/**
 * pkg
 * $Id: _pkg.css,v 1.51 2005/11/14 09:22:35 gyuris Exp $
 */


FORM {
	margin: 0px;
}

/**
 * General activeform modul:
 * normal, hover, focus
 */
FIELDSET.pkg INPUT[type=text],
FIELDSET.pkg INPUT[type=password],
FIELDSET.pkg INPUT[type=file],
FIELDSET.pkg SELECT,
FIELDSET.pkg TEXTAREA { 
	font: 13px Arial, Helvetica, sans-serif;
	border: 1px solid rgb(238, 238, 238);
	background-color: white; 
	margin-top: 1px;
	color: black;
	padding: 0 2px;
}
FIELDSET.pkg INPUT[type=text],
FIELDSET.pkg INPUT[type=password],
FIELDSET.pkg INPUT[type=file], 
FIELDSET.pkg SELECT { 
	height: 18px; /* because of opera presto, gecko is exactly this size */
}
FIELDSET.pkg INPUT[type=file] {
	font-size: 12px;
}
FIELDSET.pkg SELECT {
	padding: 0; /* padding not needed for select */
	font-size: 12px;
}
FIELDSET.pkg SELECT[multiple] {
	height: auto;
}
FIELDSET.pkg INPUT[type=text], 
FIELDSET.pkg INPUT[type=password], 
FIELDSET.pkg INPUT[type=file], 
FIELDSET.pkg TEXTAREA  { 
	margin-bottom: 1px; /* needed by gecko */
}
FIELDSET.pkg INPUT[type=password] {
	background-image: url(image/pkg_special.gif) ;
	background-repeat: no-repeat;
	background-position: 224px -16px;
}
/* hover */
FIELDSET.pkg INPUT[type=text]:hover,         FIELDSET.pkg LABEL:hover + INPUT[type=text],
FIELDSET.pkg INPUT[type=password]:hover,     FIELDSET.pkg LABEL:hover + INPUT[type=password],
FIELDSET.pkg INPUT[type=file]:hover,         FIELDSET.pkg LABEL:hover + INPUT[type=file],
FIELDSET.pkg SELECT:hover,                   FIELDSET.pkg LABEL:hover + SELECT,
FIELDSET.pkg TEXTAREA:hover,                 FIELDSET.pkg LABEL:hover + TEXTAREA {
	border: solid 1px rgb(79, 76, 76);
	background-color: rgb(248, 248, 248);
	color: rgb(79, 76, 76);
}
/* focus */
FIELDSET.pkg INPUT[type=text]:focus,         FIELDSET.pkg LABEL:hover + INPUT[type=text]:focus,
FIELDSET.pkg INPUT[type=password]:focus,     FIELDSET.pkg LABEL:hover + INPUT[type=password]:focus,
FIELDSET.pkg INPUT[type=file]:focus,         FIELDSET.pkg LABEL:hover + INPUT[type=file]:focus,
FIELDSET.pkg SELECT:focus,                   FIELDSET.pkg LABEL:hover + SELECT:focus,
FIELDSET.pkg TEXTAREA:focus,                 FIELDSET.pkg LABEL:hover + TEXTAREA:focus {
	border: 1px solid rgb(0, 80, 154);
	background-color: rgb(230, 230, 230);
	color: rgb(0, 80, 154);
}
/* disabled */
FIELDSET.pkg INPUT[type=text][disabled],     FIELDSET.pkg LABEL:hover + INPUT[type=text][disabled],
FIELDSET.pkg INPUT[type=password][disabled], FIELDSET.pkg LABEL:hover + INPUT[type=password][disabled],
FIELDSET.pkg INPUT[type=file][disabled],     FIELDSET.pkg LABEL:hover + INPUT[type=file][disabled],
FIELDSET.pkg TEXTAREA[disabled],             FIELDSET.pkg LABEL:hover + TEXTAREA[disabled],
FIELDSET.pkg SELECT[disabled],               FIELDSET.pkg LABEL:hover + SELECT[disabled] {
	border: solid 1px rgb(212, 208, 200);
	background-color: rgb(242, 242, 242);
	color: rgb(212, 208, 200);
}
FIELDSET.pkg OPTION[disabled] {
	background-color: rgb(242, 242, 242);
	color: rgb(212, 208, 200);
}
FIELDSET.pkg LABEL.disabled { /* pkg automatic class */
	color: rgb(212, 208, 200) !important; 
}
/* readonly */
FIELDSET.pkg INPUT[type=text][readonly],     FIELDSET.pkg LABEL:hover + INPUT[type=text][readonly],
FIELDSET.pkg INPUT[type=password][readonly], FIELDSET.pkg LABEL:hover + INPUT[type=password][readonly],
FIELDSET.pkg TEXTAREA[readonly],             FIELDSET.pkg LABEL:hover + TEXTAREA[readonly] {
	border: solid 1px rgb(253, 215, 112);
	color: rgb(79, 76, 76);
	background-color: transparent;
}


/**
 * build-up
 */
FIELDSET.pkg {
	border: 1px solid rgb(130, 150, 187);
	/* clear: left;*/
	margin: 0 0 14px 0;
	padding: 4px 8px 4px 8px;
	/* width: 541px; 559 */
	text-align: left;
}
FIELDSET.pkg.half {
	width: 261px; /* 279.5 */
	clear: none;
}
FIELDSET.pkg LEGEND {
	font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	letter-spacing: .1em;
	color: rgb(0, 80, 154);
	padding: 0 0.5em;
	vertical-align: top;
}
FIELDSET.pkg:target {
	border: 1px dotted rgb(0, 80, 154);
}
FIELDSET.pkg:target LEGEND {
	text-transform: uppercase;
}
FIELDSET.pkg LABEL {
	font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	display: block;
	width: 250px;
}
FIELDSET.pkg LABEL.pkg-title {
	font: bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: rgb(0, 80, 154) !important;
	padding: 6px 0 0 0;
	float: left;
	width: 300px;
}
FIELDSET.pkg LABEL.pkg-phrasing {
	display: inline;
	width: auto;
}
FIELDSET.pkg TABLE {
	margin: 0;
	border-spacing: 0px;
	border-collapse: collapse;
	margin-top: 6px;
	margin-bottom: 4px;
}
FIELDSET.pkg COL.pkg-colA {
	width: 270px;
}
FIELDSET.pkg COL.pkg-colB {
	width: 270px;
}
FIELDSET.pkg COL.pkg-colC {
	width: 380px;
}
FIELDSET.pkg COL.pkg-colD {
	width: 541px;
}
FIELDSET.pkg TD {
	vertical-align: top;
	border: none;
	padding: 2px 0 6px 4px; /* or padding-bottom, or border-bottom */
}
FIELDSET.pkg TD.middle {
	vertical-align: middle;
}
FIELDSET.pkg TD.bottom {
	vertical-align: bottom;
}
FIELDSET.pkg TABLE TR.pkg-lastrow TD {
	border-bottom: 6px solid white;
}
FIELDSET.pkg TABLE.pkg-group-A TBODY TR TD {
	background: rgb(248, 248, 248);
}
FIELDSET.pkg TABLE.pkg-group-B TBODY TR TD {
	background: rgb(242, 242, 242);
}
FIELDSET.pkg TABLE THEAD TR TD,
FIELDSET.pkg TABLE TFOOT TR TD {
	background: rgb(242, 242, 242);
	color: black;
}
FIELDSET.pkg SELECT {
	margin: 0;
}
FIELDSET.pkg .pkg-equal {
	width: 244px;
	-moz-box-sizing: border-box; /* XXX */
}
FIELDSET.pkg .pkg-equal.half {
	width: 120px;
}
FIELDSET.pkg .pkg-equal.quarter {
	width: 60px;
}  
FIELDSET.pkg .pkg-equal.quarterto {
	width: 180px;
} 
FIELDSET.pkg .pkg-equal.double {
	width: 513px;
}
FIELDSET.pkg TEXTAREA,
FIELDSET.pkg SELECT[multiple] {
	height: 100px;
	overflow: auto;
}
FIELDSET.pkg INPUT.required,
FIELDSET.pkg SELECT.required,
FIELDSET.pkg TEXTAREA.required {
	background-color: rgb(139, 215, 250);
	border: 1px solid rgb(56, 189, 250);
	color: black;
}
FIELDSET.pkg INPUT.required:hover,           FIELDSET.pkg LABEL:hover + INPUT.required, 
FIELDSET.pkg INPUT.required:focus,
FIELDSET.pkg SELECT.required:hover,          FIELDSET.pkg LABEL:hover + SELECT.required,
FIELDSET.pkg SELECT.required:focus,
FIELDSET.pkg TEXTAREA.required:hover,        FIELDSET.pkg LABEL:hover + TEXTAREA.required,
FIELDSET.pkg TEXTAREA.required:focus {  /* there is no equivalent in IE */
	background-color: rgb(139, 215, 250);
	border: 1px solid rgb(0, 80, 154);
	color: black;
}
FIELDSET.pkg LABEL.required {
	background-color: rgb(139, 215, 250);
}
FIELDSET.pkg INPUT.warning,                  FIELDSET.pkg LABEL:hover + INPUT.warning,
FIELDSET.pkg INPUT.warning:hover,
FIELDSET.pkg INPUT.warning:focus,
FIELDSET.pkg TEXTAREA.warning,               FIELDSET.pkg LABEL:hover + TEXTAREA.warning,
FIELDSET.pkg TEXTAREA.warning:hover,
FIELDSET.pkg TEXTAREA.warning:focus {
	border: 1px dashed red;
	background-color: rgb(255, 244, 244);
	color: red;
	cursor: help !important;
}
/**
 * panel kezelőfelület
 */
FIELDSET.pkg .panel {
	width: 100px;
	float: right;
	margin: 1px 1px 0 0;
}
FIELDSET.pkg .panel SPAN {
	display: block;
	float: right;
	height: 16px;
	width: 16px;
	margin: 0 1px 0 0;
	padding: 0;
	border: 0;
	font-size: 0;
}
FIELDSET.pkg .panel SPAN.add {
	background: url(image/pkg_buttons.gif) no-repeat 0px 0px;
}
FIELDSET.pkg .panel SPAN.add:hover {
	background-position: -16px 0px;
}
FIELDSET.pkg .panel SPAN.add.disabled {
	background-position: -32px 0px;
}
FIELDSET.pkg .panel SPAN.remove {
	background: url(image/pkg_buttons.gif) no-repeat 0px -16px;
}
FIELDSET.pkg .panel SPAN.remove:hover {
	background-position: -16px -16px;
}
FIELDSET.pkg .panel SPAN.remove.disabled {
	background-position: -32px -16px;
}
FIELDSET.pkg .panel SPAN.moveup {
	background: url(image/pkg_buttons.gif) no-repeat 0px -32px;
}
FIELDSET.pkg .panel SPAN.moveup:hover {
	background-position: -16px -32px;
}
FIELDSET.pkg .panel SPAN.moveup.disabled {
	background-position: -32px -32px;
}
FIELDSET.pkg .panel SPAN.movedown {
	background: url(image/pkg_buttons.gif) no-repeat 0px -48px;
}
FIELDSET.pkg .panel SPAN.movedown:hover {
	background-position: -16px -48px;
}
FIELDSET.pkg .panel SPAN.movedown.disabled {
	background-position: -32px -48px;
}
/**
 * Others
 */
FIELDSET.pkg SPAN.pkg-button,
FIELDSET.pkg A.pkg-button {
	font: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: rgb(79, 76, 76);
	cursor: pointer;
	margin: 8px 0 4px 4px;
	display: block;
	white-space: nowrap;
	text-decoration: underline;
}
/*
FIELDSET.pkg TD SPAN.pkg-button,
FIELDSET.pkg TD A.pkg-button:link,
FIELDSET.pkg TD A.pkg-button:visited,
FIELDSET.pkg TD A.pkg-button:active,
FIELDSET.pkg TD A.pkg-button:hover {
	display: inline;
	margin: none
}
 */
FIELDSET.pkg TABLE.insert-nonvisible, 
FIELDSET.pkg SPAN.insert-nonvisible,
FIELDSET.pkg A.insert-nonvisible,
DIV.insert-nonvisible {
	display: none; /* mást nem tartalmazhat - funkcionális! */
}
FIELDSET.pkg A:link {
	font: 13px Arial, Helvetica, sans-serif;
	color: rgb(0, 80, 154);
	text-decoration: underline;
}
FIELDSET.pkg A:visited,
FIELDSET.pkg A:active,
FIELDSET.pkg A:hover {
	color: rgb(79, 76, 76);
	text-decoration: underline;
}
/* Messages */
P.pkg-successful,
P.pkg-error,
FIELDSET.pkg P.pkg-help, 
FIELDSET.pkg UL.pkg-error,
FIELDSET.pkg P.pkg-text { /* help, error and return messages in this group */
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-left: 3px solid rgb(0, 80, 154);
	padding: .5em 1em;
	margin: .2em 0 0 0;
	background: rgb(242, 242, 242);
}
P.pkg-error,
FIELDSET.pkg UL.pkg-error  {
	border-left-color: red;
	list-style-type: none;
}
FIELDSET.pkg UL.pkg-error LI {
	margin: 0;
	padding: 0;
}
PRE.pkg-error {
	border: 1px dashed red;
	padding: 1em;
	background: rgb(255, 244, 244);
	overflow: auto;
	color: red;
}
P.pkg-successful {
	font-weight: bold;
	color: rgb(0, 80, 154);
}
FIELDSET.pkg P.pkg-text {
	background: transparent;
	border-left-color: rgb(79, 76, 76);
}



/**
 * submit area
 */
DIV.pkg-submit {
	border-top: 2px solid rgb(212, 208, 200);
	background: rgb(247, 247, 246);
	padding: 30px 12px;
	margin: 18px 0;
	position: relative;
	width: 535px; /* 559 */
	clear: both;
}
DIV.pkg-submit.mini {
	padding: 8px 12px;
	clear: left;
}
DIV.pkg-submit.half {
	width: 255px; /* 279.5 */
}
DIV.pkg-submit INPUT.pkg-primary {
	color: rgb(0, 80, 154);
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;

}
DIV.pkg-submit INPUT.pkg-secondary {
	font-size: 11px;
	color: rgb(79, 76, 76);
	font-family: Arial, Helvetica, sans-serif;

}
DIV.pkg-submit INPUT.pkg-tertiary {
	color: rgb(79, 76, 76);
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	right: 12px;
	top: 30px;
}
DIV.pkg-submit.mini INPUT.pkg-tertiary  {
	top: 8px;
}

/**
 * simple plugin
 */
FIELDSET.pkg INPUT.datepicker {
	background-image: url(image/pkg_special.gif);
	background-position: 224px 0px;
	background-repeat: no-repeat;
	cursor: default;
}
BODY FIELDSET.pkg TEXTAREA.richtext {
	height: 400px;
}
BODY FIELDSET.pkg TEXTAREA.textareaautoheight {
	height: 35px;
	min-height: 35px;
}


/* admin width */
BODY.admin FIELDSET.pkg { width: 732px; /* 750 */ }
BODY.admin FIELDSET.pkg COL.pkg-colA { width : 366px; }
BODY.admin FIELDSET.pkg COL.pkg-colB { width : 366px; }
BODY.admin FIELDSET.pkg COL.pkg-colC { width: 500px; }
BODY.admin FIELDSET.pkg COL.pkg-colD { width : 732px; }
BODY.admin FIELDSET.pkg .pkg-equal { width: 340px; }
BODY.admin FIELDSET.pkg .pkg-equal.half { width: 168px; }
BODY.admin FIELDSET.pkg .pkg-equal.quarter { width: 84px; }
BODY.admin FIELDSET.pkg .pkg-equal.quarterto { width: 252px; }
BODY.admin FIELDSET.pkg .pkg-equal.double { width: 706px; }
BODY.admin FIELDSET.pkg INPUT.datepicker { background-position: 319px 0px; }
BODY.admin FIELDSET.pkg HR { width: 366px; }
BODY.admin FIELDSET.pkg.half { width: 357px; /* 375 */ }
BODY.admin INPUT[type=password] { background-position: 319px -16px; }
BODY.admin DIV.pkg-submit {	width: 726px; /* 750 */ }
BODY.admin DIV.pkg-submit.half { width: 351px; /* 375 */ }
BODY.admin FIELDSET.pkg LABEL { width: 360px; }
BODY.admin FIELDSET.pkg LABEL.pkg-title { width: 360px; }
BODY.admin FIELDSET.pkg LABEL.pkg-phrasing { width: auto; }
